[general]
name={{plugin_name}}
description=
about=
version=0.1.0
qgisMinimumVersion=3.16
author=
email=
changelog=
tags=
repository={{git_url}}
tracker={{git_url}}/issues
homepage={{git_url}}
category=Plugins
experimental=True
deprecated=False
